@model int

<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">سفارش با موفقیت ثبت شد</h1>
        شماره سفارش شما : @Model <br/><br/>
        <img src="~/images/orderPlace.jfif" width="80%" class="align-content-center opacity-75"/>
        <div class="col-12 text-center" style="color:maroon">
            <br/>
            سفارش شما با موفقیت ثبت شد <br/>
        </div>

    </div>
</div>