@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "منع دسترسی";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">اجازه دسترسی به این منبع را ندارید.</p>
</header>
