@page
@model LockoutModel
@{
    ViewData["Title"] = "بسته شد!";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">این اکانت بسته شد، لطفا بعدا مجدد امتحان کنید.</p>
</header>
