@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "تائیدیه بازیابی کلمه عبور";
}

<h1>@ViewData["Title"]</h1>
<p>
    کلمه عبور شما بازیابی شده. لطفا <a asp-page="./Login">اینجا کلیک کنید تا وارد شوید</a>.
</p>
